@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* Colors */

$light-blue: #0075BE;
$dark-blue: #0A285F;
$light-yellow: #FFCC00;
$dark-yellow: #D5A100;
$red: #FB1B1B;
$grey: #DFDFDF;
$black: #000;
$white: #fff;